# NetZero Environment Variables Configuration
PORT=3000
MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/netzeroDB
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
STRIPE_PRIVATE_KEY=YOUR_STRIPE_KEY_HERE
SESSION_SECRET=netzero_secret_key
SERVER_URL=http://localhost:3000
